<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 p-4 border-right">
      <h1>Profile</h1>
      <div class="text-right" style="height: 30px">
        <button class="badge badge-success float-right" (click)="linkSpotify()" matTooltip="Connect my Spotify account">
          Connect Spotify Account
        </button>
      </div>
      <form #profileForm="ngForm" (ngSubmit)="editProfile(profileForm)" class="text-center">
        <label for="username">Change my username</label>
        <input [(ngModel)]="myUsername" name="username" type="text" />

        <label for="username">Change my email address</label>
        <input [(ngModel)]="myEmail" name="email" type="text" />

        <label for="password">Change my password</label>
        <input ngModel name="password" placeholder="New password" type="password" />
        <input ngModel name="confirmPassword" placeholder="Confirm new password" type="password" />

        <div *ngIf="!userHttpResponse.status">
          <div *ngFor="let error of userHttpResponse.errors" class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        </div>
        <div *ngIf="userHttpResponse.message" class="alert alert-success" role="alert">
          {{ userHttpResponse.message }}
        </div>

        <div *ngIf="passwordError.length > 0">
          <div class="alert alert-danger" role="alert">
            {{ passwordError }}
          </div>
        </div>

        <button mat-raised-button color="primary" type="submit">Save</button>
      </form>

      <div class="float-right mt-4 mb-3">
        <button mat-raised-button color="warn" (click)="deleteUser()">
          Delete my account
        </button>
      </div>
    </div>

    <div class="container col-md-4 col-sm-12 p-4 mt-5">
      <div>
        <div *ngFor="let invit of invitations" class="d-flex">
          <p class="m-2">
            You are invited to join <strong>{{ invit.name }}</strong> !
          </p>
          <button mat-icon-button color="primary" (click)="acceptInvit(invit)">
            <mat-icon matTooltip="Accept">done</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="declineInvit(invit)">
            <mat-icon matTooltip="Decline">close</mat-icon>
          </button>
        </div>
      </div>

      <div>
        <div class="d-flex">
          <h1 class="m-1">Groups of Friends</h1>
          <button mat-icon-button color="primary" (click)="addGroup()">
            <mat-icon *ngIf="toggle">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="!toggle" matTooltip="Create a new group">add</mat-icon>
          </button>
        </div>
        <div *ngIf="toggle">
          <form #createForm="ngForm" (ngSubmit)="createGroup(createForm)">
            <input ngModel name="groupName" placeholder="Group name" />
            <button mat-icon-button color="primary" type="submit">
              <mat-icon matTooltip="Create">done</mat-icon>
            </button>
            <div *ngIf="!createGroupHttpResponse.status">
              <div *ngFor="let error of createGroupHttpResponse.errors" class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="ownerGroups.length == 0 && otherGroups.length == 0"><em>You don't have any group of friends
            yet.<br>Create or join one now !</em></div>
        <div *ngFor="let group of ownerGroups">
          <div class="d-flex ml-3 mt-2">
            <h2 class="m-1">{{ group.name }}</h2>
            <button mat-icon-button color="primary" (click)="openDialog(group)" matTooltip="See this group">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteGroup(group)" matTooltip="Delete this group">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div *ngFor="let group of otherGroups">
          <div class="d-flex ml-3 mt-2">
            <h2 class="m-1">{{ group.name }}</h2>
            <button mat-icon-button color="primary" (click)="openDialog(group)" matTooltip="See this group">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteGroup(group)" matTooltip="Quit this group">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
