  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs dynamicHeight (selectedIndexChange)="ckeckSpotifyLinked($event)">
    <mat-tab label="Edit my account">
    <p class="display-4 text-center p-3 m-3" style="font-size: 7vmin;">Change my information</p>

      <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
          <form #profileForm="ngForm" (ngSubmit)="editProfile(profileForm)" class="text-center m-5 w-75 mx-auto">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Current: {{ userData.user.username }}</mat-label>
                  <input ngModel type="text" name="username" matInput placeholder="Change my pseudo">
                  <mat-icon matSuffix>account_box</mat-icon>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Current: {{ userData.user.email }}</mat-label>
                  <input ngModel type="text" name="email" matInput placeholder="Change my email address">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Change my password</mat-label>
                  <input ngModel type="password" name="password" matInput placeholder="New Password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Confirm new password</mat-label>
                  <input ngModel type="password" name="confirmPassword" matInput placeholder="Confirm new password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="passwordError.length > 0">
              <div class="alert alert-danger" role="alert">
                {{ passwordError }}
              </div>
            </div>
            <div class="row-cols">
              <div class="col mb-2">
                <button mat-raised-button color="primary" type="submit">Update my information</button>
              </div>
              <div class="col">
                <button mat-raised-button color="warn" (click)="deleteUser()">
                  Delete my account
                </button>
              </div>
            </div>
          </form>
      </div>
    </mat-tab>

    <!-- TAB 2 -->
    <mat-tab label="Manage groups">

    <ng-container *ngIf="userData.user.owned_groups.length === 0 && userData.user.groups.length === 0">

      <p class="display-4 lead text-center text-muted p-3 m-5" style="font-size: 7vmin;">You don't have any groups.</p>
      <div class="container d-flex justify-content-center align-items-center flex-column">
        <button mat-raised-button class="w-25 m-5" (click)="addGroup()">Add a group</button>
        <div *ngIf="toggle">
          <form #createForm="ngForm" (ngSubmit)="createGroup(createForm)">
            <input ngModel name="groupName" placeholder="Group name" />
            <button mat-icon-button color="primary" type="submit">
              <mat-icon matTooltip="Create">done</mat-icon>
            </button>
             <div *ngIf="!createGroupHttpResponse.status">
              <div *ngFor="let error of createGroupHttpResponse.errors" class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            </div> 
          </form>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="userData.user.owned_groups.length > 0">

      <p class="display-4 text-center p-3" style="font-size: 7vmin;">My groups</p>
      <div *ngFor="let invitation of userData.user.invitations" class="text-center">
        <p class="m-2">
          You are invited to join <strong>{{ invitation.name }}</strong>!
        </p>
        <button mat-icon-button color="primary" (click)="acceptInvit(invitation)">
          <mat-icon matTooltip="Accept">done</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="declineInvit(invitation)">
          <mat-icon matTooltip="Decline">close</mat-icon>
        </button>
      </div>
      
      <table class="table w-75 mx-auto border mt-5 text-center ">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">See</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of myGroups">
                <td class="align-middle">
                  {{ group.name }}
                </td>
                <td>
                  <button mat-icon-button color="primary" (click)="openDialog(group)" matTooltip="See this group">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button color="warn" (click)="deleteGroup(group)" matTooltip="Delete this group">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
            </tr>
          </tbody>
        </table>
        <div class="container d-flex justify-content-center align-items-center flex-column">
          <button mat-raised-button class="w-25 m-5" (click)="addGroup($event)">Add a group</button>
          <div *ngIf="toggle">
            <form #createForm="ngForm" (ngSubmit)="createGroup(createForm)">
              <input ngModel name="groupName" placeholder="Group name" />
              <button mat-icon-button color="primary" type="submit">
                <mat-icon matTooltip="Create">done</mat-icon>
              </button>
               <div *ngIf="!createGroupHttpResponse.status">
                <div *ngFor="let error of createGroupHttpResponse.errors" class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              </div> 
            </form>
          </div>
        </div>
      </ng-container>
      
      <ng-container *ngIf="groups.length > 0">
        <p class="display-4 text-center p-3" style="font-size: 7vmin;">Friends group</p>

        <table class="table w-75 mx-auto border mt-5 text-center">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">See</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groups">
                <td class="align-middle">
                  {{ group.name }}
                </td>
                <td>
                  <button mat-icon-button color="primary" (click)="openDialog(group)" matTooltip="See this group">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button color="warn" (click)="deleteGroup(group)" matTooltip="Delete this group">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

    </mat-tab>
    <mat-tab label="Third-party applications">
      <div class="container-fluid h-100 d-flex justify-content-center align-items-center flex-column">
            <img src="assets/images/Spotify_Logo_RGB_Green.png" width="25%" class="m-5">
            <button *ngIf="!spotifyLinked" class="m-5" mat-raised-button (click)="linkSpotify()">Link my spotify account</button>
            <p *ngIf="spotifyLinked" class="h5 m-2 lead text-success">Spotify account already linked!</p>
      </div>
    </mat-tab>
  </mat-tab-group>

