<h1>Recommended Musics</h1>
<div class="container-fluid w-75">
  <div class="row row-cols-4">
    <div class="col mb-3 d-flex justify-content-center text-center" *ngFor="let track of tracks.content">
      <div class="card" style="width: 18rem;">
        <img [src]="track.covert_art_url" class="card-img-top" onerror="this.src='assets/images/placeholder.png'">
        <div class="card-body">
          <star-rating [starType]="'svg'" [rating]="track.rating"></star-rating>
          <h5 class="card-title">{{track.title}}</h5>
          <p class="card-text">{{track.artist_name}} - {{ track.year}}</p>
          <button mat-raised-button>See more</button>
        </div>
      </div>
    </div>
    <div
    infiniteScroll
    [infiniteScrollDistance]="10"
    [infiniteScrollThrottle]="1500"
    (scrolled)="onScroll()">
  </div>
  
  <div class="container-fluid">
    <mat-spinner color="primary" *ngIf="!finished"></mat-spinner>
  </div>


  </div>
</div>
