.swiper-container {
    width: 100%;
    height: 350px;
    cursor: -webkit-grab; cursor: grab;
}

.swiper-container:active {
  cursor: -webkit-grabbing; cursor: grabbing;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* When you mouse over the container, fade in the overlay icon*/
  .container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }

  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  /* When you move the mouse over the icon, change color */
  .fa-user:hover {
    color: #eee;
  }

  .blur {
    filter: blur(25px);
    animation-name: example;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .no-blur {
    filter: blur(0);
    transition: filter .5s 2s ease-in;
  }

  @keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .swiper-button-prev, .swiper-button-next {
    display: none;
    color:#dc3545;
  }

  .swiper-container:hover .swiper-button-prev {
    display: block;
  }

  .swiper-container:hover .swiper-button-next {
    display: block;
  }

  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }


  .swiper-slide {

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .link {
    cursor: pointer;
  }

  .link:hover {
    text-decoration: underline;
  }

  .bg-search {
    background-color:rgba(244, 67, 54, 0.199);
  }