<div class="bg-light text-center overflow-hidden">
      <div class="pt-5">
        <p class="lead display-6">{{ title }}</p>
      </div>
      
      <div class="d-flex bg-light shadow-sm mx-auto py-2" style="width: 100%; height: auto;">
        <div  [class]="this.className" [swiper]="mySwiper.params" class="swiper-container p-2 m-2" style="height: auto;" performance="true">
          <div class="swiper-wrapper">
            <div *ngFor="let item of this.content;" class="swiper-slide" style="height:auto;">
              <div class="card shadow-sm border-0 align-self-middle" style="width: 15rem;">
                <div class="container p-0">
                    <img *ngIf="item.track_id" class="card-img-top swiper-lazy" src="assets/images/loading.gif" [attr.data-src]="item.covert_art_url">
                    <img *ngIf="item.isbn" class="card-img-top swiper-lazy" src="assets/images/loading.gif" [attr.data-src]="item.image_url_l">
                    <img *ngIf="item.serie_id || item.movie_id || item.app_id" [class]="item.app_id ? 'p-lg-5 p-sm-2' : 'p-0'" class="card-img-top swiper-lazy" src="assets/images/loading.gif" [attr.data-src]="item.cover">
                    <img *ngIf="item.game_id" class="card-img-top swiper-lazy" src="assets/images/loading.gif" [attr.data-src]="item.header_image">
                  <div class="overlay" *ngIf="item.track_id && !this.preferences" (click)="openPreview(item)" style="cursor: pointer;">
                    <div class="icon" >
                      <mat-icon class="fa fa-user text-center w-100 h-100" style="font-size:75px;" aria-hidden="false">
                        play_circle_outline</mat-icon>
                    </div>
                  </div>
                  <div class="spinner" *ngIf="!title.startsWith('Most popular') && !this.preferences">
                      <circle-progress
                      [percent]="item.reco_score*100"
                      [radius]="24"
                      [responsive]="true"
                      [imageHeight]="45"
                      [imageWidth]="45"
                      [showImage]="true"
                      [imageSrc]="'assets/images/reco_score.svg'"
                      [showInnerStroke]="false"
                      [outerStrokeWidth]="6"
                      [outerStrokeColor]="'#3AE307'"
                      [animation]="true"
                      [animationDuration]="500"
                    ></circle-progress>
                  </div>
                  
                </div>

                    <div class="card-body p-3 d-flex justify-content-center flex-column" style="max-width: 100%;">
                      <span>
                        <h3 *ngIf="item.app_id || item.game_id else default" class="card-title text-danger text-truncate"><strong>{{item.name}}</strong></h3>
                        <ng-template #default>
                          <h3 class="card-title text-danger text-truncate"><strong>{{item.title}}</strong></h3>
                        </ng-template>
                      </span>
                      <p *ngIf="item.track_id" class="card-text text-truncate" style="max-width: 100%;"><strong>{{item.artist_name}}</strong></p>
                      <p *ngIf="item.movie_id" class="card-text text-truncate" style="max-width: 100%;"><strong>{{item.director}}</strong></p>
                      <p *ngIf="item.app_id" class="card-text text-truncate" style="max-width: 100%;"><strong>{{item.type}}</strong></p>
                      <p *ngIf="item.game_id" class="card-text text-truncate" style="max-width: 100%;"><strong>{{item.developers}}</strong></p>
                        <button *ngIf="!this.preferences" mat-stroked-button color="primary" class="d-flex justify-content-center align-items-center flex-column" (click)="openPopUp(item)">See more</button>
                        <app-rating
                          *ngIf="this.preferences"
                          [media]="item.track_id || item.movie_id || item.app_id || item.game_id || item.serie_id"
                          [type]="this.type">
                        </app-rating>
                      </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        
      </div>