<div class="d-flex justify-content-center mt-5">
  <img src="assets/images/logo.svg" width="500">
</div>
<div  class="d-flex w-100 h-75 text-center">
<form class="form-signin" #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">

    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <input ngModel type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
    <input ngModel type="text" name="username" class="form-control rounded-0" placeholder="Pseudo" required>
    <input ngModel type="password" name="password" class="form-control border-top-0" placeholder="Password" required>
    <input [(ngModel)]="passwordConfirmation" type="password" [ngModelOptions]="{standalone: true}" class="form-control border rounded" placeholder="Password confirmation" required>
    <div *ngIf="!registerHttpResponse.status">
      <div *ngFor="let error of registerHttpResponse.errors" class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    </div>
    <div *ngIf="passwordError.length > 0">
      <div class="alert alert-danger" role="alert">
        {{ passwordError }}
      </div>
    </div>
    <button mat-raised-button color="primary" class="w-100 h5 mb-2" type="submit">Register</button>
    <a routerLink="/login">I already have an account!</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</div>
