<!-- <mat-dialog-content class="mat-typography"> -->
    <!-- <div class="container-fluid"> -->

        <!-- <div class="row no-gutters flex-md-row"> -->
            <!-- <div class="p-4 d-flex flex-column position-static"> -->
                <!-- <h1 class="mb-0"></h1>
                <h2 class="mb-0">{{ data.artist_name }}</h2>
                <div class="mb-1 text-muted">e</div>
                <p class="card-text mb-auto w-100">e</p>
                <strong class="d-inline-block mb-2 text-primary">    
                    <star-rating [readOnly]="true" [starType]="'svg'" [rating]="4"></star-rating>
                </strong> -->
            <!-- </div> -->
            <div class="col-auto d-none d-lg-block">
                <iframe [src]="media_url" width="300" height="80" frameborder="0" autoplay="1" controls loop allow="encrypted-media" class="embed-container"></iframe>
            </div>
        <!-- </div> -->
<!--         
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> -->