<h1 mat-dialog-title> {{ data.group.name }} </h1>

<div mat-dialog-content>
  <div class="d-flex">
    <h2 class="m-1">Friends Group Members</h2>
    <button *ngIf="data.group.owner.username === myUsername" mat-icon-button color="primary" (click)="addMember()">
      <mat-icon *ngIf="toggle">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="!toggle" matTooltip="Add a member">add</mat-icon>
    </button>
  </div>
  <div *ngIf="toggle" class="ml-4">
    <form #inviteForm="ngForm" (ngSubmit)="inviteMember(inviteForm)">
      <mat-form-field>
        <input type="text"
              name="memberName"
              placeholder="Your friend's username"
              matInput
              (keyup)="loading($event)"
              [formControl]="invitationControle"
              [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayUser">
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let user of filteredOptions" [value]="user">
              <span>{{ user.username }}</span><small> - {{ user.email }}</small>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-icon-button color="primary" type="submit">
        <mat-icon matTooltip="Add">done</mat-icon>
      </button>

      <div *ngIf="!userDataHttpResponse.status">
        <div *ngFor="let error of userDataHttpResponse.errors" class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      </div>
      <div *ngIf="!inviteMemberHttpResponse.status">
        <div *ngFor="let error of inviteMemberHttpResponse.errors" class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      </div>
      <div *ngIf="inviteMemberHttpResponse.message" class="alert alert-success" role="alert">
        {{ inviteMemberHttpResponse.message }}
      </div>
    </form>
  </div>

  <ul>
    <li>{{ data.group.owner.username }}</li>
    <li *ngFor="let member of data.group.members">{{ member.username }}</li>
  </ul>
</div>
