<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" class="container-fluid h-100 w-25 d-flex justify-content-center align-items-center flex-column text-center">
  <div class="row h-25">
    <div class="col">
      <div class="d-flex justify-content-center">
        <img src="assets/images/logo.svg" width="500">
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="h2 mb-3 w-100 font-weight-normal">Please sign in</h1>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input ngModel type="email" name="email" matInput placeholder="Enter your email" required>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input ngModel type="password" name="password" matInput placeholder="Enter your password" required>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center flex-column">
      <button mat-raised-button color="primary" type="submit" class="h5 mb-2">Sign in</button>
      <a routerLink="/register" class="mb-5">Create an account</a>
      <button type="button" mat-stroked-button color="warn" (click)="resetPassword()">I forgot my password!</button>
    </div>
  </div>
</form>
