<div class="container-fluid p-0">

  <div class="bg-light text-center overflow-hidden">
    <div class="pt-5">
      <p class="lead display-6">Media Validation</p>
    </div>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Track Validation">
        <p *ngIf="this.dataSourceTrack.filteredData.length === 0" class="text-center text-muted mt-4">0 track to validate</p>
        <div *ngIf="this.dataSourceTrack.filteredData.length !== 0" class="container">

          <mat-table [dataSource]="dataSourceTrack">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="artist_name">
              <mat-header-cell *matHeaderCellDef> Artist Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.artist_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="year">
              <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="release">
              <mat-header-cell *matHeaderCellDef> Release </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.release}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="track_mmid">
              <mat-header-cell *matHeaderCellDef> MMDI </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.track_mmid}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="recording_mbid">
              <mat-header-cell *matHeaderCellDef> MBID </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.recording_mbid}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="spotify_id">
              <mat-header-cell *matHeaderCellDef> Spotify </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.spotify_id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="covert_art_url">
              <mat-header-cell *matHeaderCellDef> Cover </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.covert_art_url}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="genres">
              <mat-header-cell *matHeaderCellDef> Genre(s) </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <ng-container *ngFor="let genre of element.genre">{{genre.name}}</ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="btn">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="this.acceptTrack(element.track_id);"><mat-icon>done</mat-icon></button>
                <button mat-icon-button color="warn" (click)="this.refuseTrack(element.track_id);"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplayTrack"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplayTrack;"></mat-row>
          </mat-table>
          <mat-paginator class="mb-4" [length]="this.dataSourceTrack.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Movie Validation">
        <p *ngIf="this.dataSourceMovie.filteredData.length === 0" class="text-center text-muted mt-4">0 movie to validate</p>
        <div *ngIf="this.dataSourceMovie.filteredData.length !== 0" class="container">
          <mat-table [dataSource]="dataSourceMovie">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="language">
              <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.language}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actors">
              <mat-header-cell *matHeaderCellDef> Actors </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.actors}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="year">
              <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="producers">
              <mat-header-cell *matHeaderCellDef> Producers </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.producers}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="director">
              <mat-header-cell *matHeaderCellDef> Director </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.director}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="writer">
              <mat-header-cell *matHeaderCellDef> Writer </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.writer}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="imdbid">
              <mat-header-cell *matHeaderCellDef> IMDB </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.imdbid}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tmdbid">
              <mat-header-cell *matHeaderCellDef> TMDB </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.tmdbid}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cover">
              <mat-header-cell *matHeaderCellDef> Cover </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.cover}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="btn">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="this.acceptMovie(element.movie_id);"><mat-icon>done</mat-icon></button>
                <button mat-icon-button color="warn" (click)="this.refuseMovie(element.movie_id);"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplayMovie"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplayMovie;"></mat-row>
          </mat-table>
          <mat-paginator class="mb-4" [length]="this.dataSourceMovie.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Serie Validation" disabled>
        <p *ngIf="this.dataSourceSerie.filteredData.length === 0" class="text-center text-muted mt-4">0 serie to validate</p>
        <div *ngIf="this.dataSourceSerie.filteredData.length !== 0" class="container">
          <mat-table [dataSource]="dataSourceSerie">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="imdbid">
              <mat-header-cell *matHeaderCellDef> IMDB </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.imdbid}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="start_year">
              <mat-header-cell *matHeaderCellDef> Start year </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.start_year}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="end_year">
              <mat-header-cell *matHeaderCellDef> End year </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.end_year}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="writers">
              <mat-header-cell *matHeaderCellDef> Writers </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.writers}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="directors">
              <mat-header-cell *matHeaderCellDef> Directors </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.directors}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actors">
              <mat-header-cell *matHeaderCellDef> Actors </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.actors}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="btn">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary"><mat-icon>done</mat-icon></button>
                <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplaySerie"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplaySerie;"></mat-row>
          </mat-table>
          <mat-paginator class="mb-4" [length]="this.dataSourceSerie.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Book Validation">
        <p *ngIf="this.dataSourceBook.filteredData.length === 0" class="text-center text-muted mt-4">0 book to validate</p>
        <div *ngIf="this.dataSourceBook.filteredData.length !== 0" class="container">
          <mat-table [dataSource]="dataSourceBook">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="isbn">
              <mat-header-cell *matHeaderCellDef> ISBN </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.isbn}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="author">
              <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="publisher">
              <mat-header-cell *matHeaderCellDef> Publisher </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.publisher}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="year_of_publication">
              <mat-header-cell *matHeaderCellDef> Year of publication </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.year_of_publication}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="image_url_s">
              <mat-header-cell *matHeaderCellDef> Image S </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.image_url_s}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="image_url_m">
              <mat-header-cell *matHeaderCellDef> Image M </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.image_url_m}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="image_url_l">
              <mat-header-cell *matHeaderCellDef> Image L </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.image_url_l}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="btn">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="this.acceptBook(element.book_id);"><mat-icon>done</mat-icon></button>
                <button mat-icon-button color="warn" (click)="this.refuseBook(element.book_id);"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplayBook"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplayBook;"></mat-row>
          </mat-table>
          <mat-paginator class="mb-4" [length]="this.dataSourceBook.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Game Validation">
        <p *ngIf="this.dataSourceGame.filteredData.length === 0" class="text-center text-muted mt-4">0 game to validate</p>
        <div *ngIf="this.dataSourceGame.filteredData.length !== 0" class="container">
          <mat-table [dataSource]="dataSourceGame">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="steamid">
              <mat-header-cell *matHeaderCellDef> Steam </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.steamid}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="short_description">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.short_description}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="header_image">
              <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.header_image}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="website">
              <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.website}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="developers">
              <mat-header-cell *matHeaderCellDef> Developers </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.developers}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="publishers">
              <mat-header-cell *matHeaderCellDef> Publishers </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.publishers}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="release_date">
              <mat-header-cell *matHeaderCellDef> Release date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.release_date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="btn">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="this.acceptGame(element.game_id);"><mat-icon>done</mat-icon></button>
                <button mat-icon-button color="warn" (click)="this.refuseGame(element.game_id);"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplayGame"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplayGame;"></mat-row>
          </mat-table>
          <mat-paginator class="mb-4" [length]="this.dataSourceGame.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Application Validation">
        <p *ngIf="this.dataSourceApplication.filteredData.length === 0" class="text-center text-muted mt-4">0 application to validate</p>
        <div *ngIf="this.dataSourceApplication.filteredData.length !== 0" class="container">
          <mat-table [dataSource]="dataSourceApplication">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="size">
              <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.size}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="installs">
              <mat-header-cell *matHeaderCellDef> Installs </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.installs}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="last_updated">
              <mat-header-cell *matHeaderCellDef> Last update </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.last_updated}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="current_version">
              <mat-header-cell *matHeaderCellDef> Current version </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.current_version}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="android_version">
              <mat-header-cell *matHeaderCellDef> Android version </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.android_version}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="btn">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="this.acceptApplication(element.app_id);"><mat-icon>done</mat-icon></button>
                <button mat-icon-button color="warn" (click)="this.refuseApplication(element.app_id);"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplayApps"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplayApps;"></mat-row>
          </mat-table>
          <mat-paginator class="mb-4" [length]="this.dataSourceApplication.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
