<form #changePassword="ngForm" class="container d-flex justify-content-center h-100 text-center flex-column w-25" (ngSubmit)="resetPassword(changePassword.value)">
    <h1 class="h3 mb-3 font-weight-normal">Enter your new password</h1>
    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input ngModel type="password" name="newPassword" matInput placeholder="Enter your new password" required autofocus>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password confirmation</mat-label>
      <input ngModel type="password" name="passwordConfirmation" matInput placeholder="Enter your new password" required>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <div *ngIf="errorMessage.length > 0" class="container">
      <p *ngFor="let message of errorMessage" class="text-danger text-center text-wrap">{{ message }}</p>
  </div>
    <button mat-raised-button color="primary" type="submit" class="w-100 h5 mb-2">Change my password</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>
  