<!-- ------------------------------ TRACK POP-UP -------------------------------- -->
<div mat-dialog-content class="h-75" *ngIf="item.track_id">
  <div mat-dialog-actions class="m-0 p-0 row">
    <strong class="col d-inline-block mb-2 h1 p-0 text-danger">{{item.title}}</strong>
    <mat-icon mat-dialog-close class="text-secondary">cancel</mat-icon>
  </div>

  <div class="container-fluid">
    <div class="row overflow-hidden">
      <div class="col d-flex flex-column position-static p-0" style="width:50%;">
        <mat-chip-list>
          <span class="mb-1">
            <mat-chip class="h6" color="accent" selected>{{ item.rating.toFixed(2) }} <mat-icon class="ml-1">star_rating
              </mat-icon>
            </mat-chip>
            <mat-chip class="bg-transparent text-muted m-0 p-0">over {{ item.rating_count | number }} ratings.
            </mat-chip>
          </span>
        </mat-chip-list>
        <strong class="d-inline-block mb-2 h3">{{item.artist_name}}</strong>
        <strong class="d-inline-block mb-2 h6">{{item.release}}</strong>
        <div *ngIf="item.year !== 0" class="mb-3 text-muted">{{ item.year }}</div>
        <mat-chip-list class="container-fluid h-100">
          <mat-chip *ngFor="let genre of item.genres">{{ genre.name }}</mat-chip>
        </mat-chip-list>
        <p class="text-center h5"><strong>Give your rating</strong></p>
        <star-rating [readOnly]="readOnly" [starType]="'svg'" (ratingChange)="saveRating($event)"
          [rating]="this.rateNumber"></star-rating>
      </div>
      <img class="rounded-lg" [src]="item.covert_art_url" style="width:40%;">
    </div>
  </div>
</div>

<!-- ------------------------------ BOOK POP-UP -------------------------------- -->

<div mat-dialog-content class="h-75" *ngIf="item.isbn">
  <div mat-dialog-actions class="m-0 p-0 row">
    <strong class="col d-inline-block mb-2 h1 p-0 text-danger">{{item.title}}</strong>
    <mat-icon mat-dialog-close class="text-secondary">cancel</mat-icon>
  </div>

  <div class="container-fluid">
    <div class="row overflow-hidden">
      <div class="col d-flex flex-column position-static p-0" style="width: 30vw;">
        <mat-chip-list>
          <span class="mb-1">
            <mat-chip class="h6" color="accent" selected>{{ item.rating.toFixed(2) }} <mat-icon class="ml-1">star_rating
              </mat-icon>
            </mat-chip>
            <mat-chip class="bg-transparent text-muted m-0 p-0">over {{ item.rating_count }} ratings.</mat-chip>
          </span>
        </mat-chip-list>
        <strong class="d-inline-block mb-2 h3">{{item.author}}</strong>
        <strong class="d-inline-block mb-2 h6">{{item.publisher}}</strong>
        <div *ngIf="item.year !== 0" class="mb-3 text-muted">{{ item.year_of_publication }}</div>
        <strong class="d-inline-block mb-2 h6 text-info">ISBN: {{item.isbn}}</strong>
        <div class="container-fluid h-100"></div>
        <p class="text-center h5"><strong>Give your rating</strong></p>
        <star-rating [readOnly]="readOnly" [starType]="'svg'" (ratingChange)="saveRating($event)"
          [rating]="this.rateNumber"></star-rating>
      </div>
      <img class="rounded-lg" [src]="item.image_url_l">
    </div>
  </div>
</div>

<!-- ------------------------------ APPS POP-UP -------------------------------- -->

<div mat-dialog-content class="h-75" *ngIf="item.app_id">
  <div mat-dialog-actions class="m-0 p-0 row">
    <strong class="col d-inline-block mb-2 h1 p-0 text-danger">{{item.name}}</strong>
    <mat-icon mat-dialog-close class="text-secondary">cancel</mat-icon>
  </div>

  <div class="container-fluid">
    <div class="row overflow-hidden">
      <div class="col d-flex flex-column position-static p-0" style="width: 30vw;">
        <mat-chip-list>
          <span class="mb-1">
            <mat-chip class="h6" color="accent" selected>{{ item.rating.toFixed(2) }} <mat-icon class="ml-1">star_rating
              </mat-icon>
            </mat-chip>
            <mat-chip class="bg-transparent text-muted m-0 p-0">over {{ item.reviews }} ratings.</mat-chip>
          </span>
        </mat-chip-list>
        <br />
        <strong class="d-inline-block mb-2 h3">{{item.installs}} installs</strong>
        <strong *ngIf="item.type === 'Paid'" class="d-inline-block mb-2 h6 text-info">{{item.price}}</strong>
        <strong class="d-inline-block mb-2 h6">{{item.categorie.name}} </strong>
        <div *ngIf="item.last_updated !== 0" class="mb-3 text-muted">{{ item.last_updated }}</div>

        <div class="container-fluid h-100"></div>
        <p class="text-center h5"><strong>Give your rating</strong></p>
        <star-rating [readOnly]="readOnly" [starType]="'svg'" (ratingChange)="saveRating($event)"
          [rating]="this.rateNumber"></star-rating>
      </div>
    </div>
  </div>
</div>
