<div mat-dialog-content class="h-75" *ngIf="item.track_id">
    <div mat-dialog-actions class="m-0 p-0 row">
        <strong class="col d-inline-block mb-2 h1 p-0 text-danger">{{item.title}}</strong>
        <mat-icon mat-dialog-close class="text-secondary">cancel</mat-icon>
      </div>

    <div class="container-fluid">

            <div class="row overflow-hidden">



              <div class="col d-flex flex-column position-static p-0" style="width:50%;">


                <mat-chip-list>
                   <span class="mb-1"><mat-chip class="h6" color="accent" selected>{{ item.rating.toFixed(2) }} <mat-icon class="ml-1">star_rating</mat-icon></mat-chip><mat-chip class="bg-transparent text-muted m-0 p-0">over {{ item.rating_count | number }} ratings.</mat-chip></span>

                </mat-chip-list>


                 <strong class="d-inline-block mb-2 h3">{{item.artist_name}}</strong>
                 <strong class="d-inline-block mb-2 h6">{{item.release}}</strong>
                <div *ngIf="item.year !== 0" class="mb-3 text-muted">{{ item.year }}</div>
                <mat-chip-list class="container-fluid h-100">
                    <mat-chip *ngFor="let genre of item.genres">{{ genre.name }}</mat-chip>
                </mat-chip-list>
                <p class="text-center h5"><strong>Give your rating</strong></p>
                <star-rating [readOnly]="readOnly" [starType]="'svg'"></star-rating>


            </div>
            <img class="rounded-lg" [src]="item.covert_art_url" style="width:40%;">

        </div>


    </div>


</div>

<!-- ------------------------------ BOOK POP-UP -------------------------------- -->

<div mat-dialog-content *ngIf="item.isbn">
  <div class="container">
    <div mat-dialog-actions class="mr-2 mb-1 d-flex justify-content-between p-0">
      <p class="font-weight-bold text-danger text-left h4 text-truncate" style="max-width:80%;">{{item.title}}</p>
      <mat-icon mat-dialog-close class="text-right text-secondary">cancel</mat-icon>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-chip-list>
          <span class="mb-1"><mat-chip class="h6" color="accent" selected>{{ item.rating.toFixed(2) }} <mat-icon class="ml-1">star_rating</mat-icon></mat-chip><mat-chip class="bg-transparent text-muted m-0 p-0">over {{ item.rating_count | number }} ratings.</mat-chip></span>
        </mat-chip-list>
        <p class="h3 font-weight-bold mt-2">{{item.author}}</p>
        <p class="h5">{{item.publisher}}</p>
        <mat-checkbox color="warn" [checked]="bookUserMeta.purchase" (change)="savePurchasedData($event)">Purchased</mat-checkbox>
        <p class="mb-2 text-info h6">ISBN: {{item.isbn}}</p>
        <div class="mb-3 text-primary">{{ item.year_of_publication }}</div>
        <hr>
        <p class="text-center h5 font-weight-bold">Give your rating</p>
        <star-rating [starType]="'svg'" [rating]="bookUserMeta.rating || 0" (ratingChange)="saveRating($event)"></star-rating>
      </div>
      <div class="col-sm-12 col-md-6 my-auto mx-auto">
        <div class="container-fluid">
          <img class="rounded-lg mb-2 shadow border m-2 w-100" [src]="item.image_url_l">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- GAME POP-UP -->

<div mat-dialog-content *ngIf="item.game_id">
  <div class="container">
      <div mat-dialog-actions class="mr-2 mb-1 d-flex justify-content-between p-0">
          <p class="font-weight-bold text-danger text-left h4 text-truncate" style="max-width:80%;">{{item.name}}</p>
          <mat-icon mat-dialog-close class="text-right text-secondary">cancel</mat-icon>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="h3 font-weight-bold">{{item.publishers}}</p>
        <p class="h5">{{item.developers}}</p>
        <p *ngIf="item.price" class="mb-2 h6 text-info">Price: {{item.price}}</p>
        <mat-checkbox color="warn" [checked]="gameUserMeta.purchase" (change)="savePurchasedData($event)">Purchased</mat-checkbox>
        <p class="mb-2 text-muted font-italic">{{item.short_description}}</p>
        <div class="mb-3 text-primary">{{ item.release_date }}</div>
        <img (click)="goToSteam()" class="btn m-0 p-0" src="assets/images/Steam_icon_logo.svg">
      </div>
      <div class="col-sm-12 col-md-6 my-auto mx-auto">
        <div class="container-fluid">
          <img class="rounded-lg mb-2 shadow border m-2 w-100" [src]="item.header_image">
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col">
        <p class="text-center h5 font-weight-bold">Give your rating</p>
        <star-rating [starType]="'svg'" [rating]="gameUserMeta.rating || 0" (ratingChange)="saveRating($event)"></star-rating>
      </div>
    </div>
  </div>
</div>

<!-- ------------------------------ APPS POP-UP -------------------------------- -->

<div mat-dialog-content class="h-75" *ngIf="item.app_id">
  <div mat-dialog-actions class="m-0 p-0 row">
    <strong class="col d-inline-block mb-2 h1 p-0 text-danger">{{item.name}}</strong>
    <mat-icon mat-dialog-close class="text-secondary">cancel</mat-icon>
  </div>

  <div class="container-fluid">
    <div class="row overflow-hidden">
      <div class="col d-flex flex-column position-static p-0" style="width: 30vw;">
        <mat-chip-list>
          <span class="mb-1">
            <mat-chip class="h6" color="accent" selected>{{ item.rating.toFixed(2) }} <mat-icon class="ml-1">star_rating
              </mat-icon>
            </mat-chip>
            <mat-chip class="bg-transparent text-muted m-0 p-0">over {{ item.reviews | number }} ratings.</mat-chip>
          </span>
        </mat-chip-list>
        <br />
        <strong class="d-inline-block mb-2 h3">{{item.installs}} installs</strong>
        <mat-checkbox color="warn" [checked]="appUserMeta.downloaded" (change)="savePurchasedData($event)">Downloaded</mat-checkbox>
        <strong *ngIf="item.type === 'Paid'" class="d-inline-block mb-2 h6 text-info">{{item.price}}</strong>
        <strong class="d-inline-block mb-2 h6">{{item.categorie.name}} </strong>
        <div *ngIf="item.last_updated !== 0" class="mb-3 text-muted">{{ item.last_updated }}</div>

        <div class="container-fluid h-100"></div>
        <p class="text-center h5"><strong>Give your rating</strong></p>
        <star-rating [starType]="'svg'" [rating]="appUserMeta.rating || 0" (ratingChange)="saveRating($event)"></star-rating>
      </div>
    </div>
  </div>
</div>


