<p class="display-4 text-center p-3" style="font-size: 7vmin;">Add medias</p>
<div class="container-fluid">
  <h2 class="text-center">Select a type of media</h2>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Track">
      <div class="container">
        <form #trackForm="ngForm" class="d-flex flex-column justify-content-center mt-4" (ngSubmit)="saveNewTrack(trackForm)">

          <div class="d-flex justify-content-around col-12">
            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Title</mat-label>
                <input ngModel matInput name="title" required>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Year</mat-label>
                <input ngModel matInput name="year">
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Artist</mat-label>
                <input ngModel matInput name="artist_name">
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Release</mat-label>
                <input ngModel matInput name="release">
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Track MMID</mat-label>
                <input ngModel matInput name="track_mmid">
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Recording MBID</mat-label>
                <input ngModel matInput name="recording_mbid">
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Spotify ID</mat-label>
                <input ngModel matInput name="spotify_id">
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Cover</mat-label>
                <input ngModel matInput name="covert_art_url">
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Genre(s)</mat-label>
                <mat-select required ngModel name="genres" multiple>
                  <mat-option *ngFor="let genre of genres" [value]="genre.genre_id">{{ genre.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center mt-4">
            <button mat-flat-button type="submit" color="primary" class="col-3">Save</button>
          </div>
        </form>
      </div>
    </mat-tab>





    <mat-tab label="Movie">
      <div class="container">
        <form class="d-flex flex-column justify-content-center mt-4">

          <div class="d-flex justify-content-around col-12">
            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Title</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Language</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Actors</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Year</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Producers</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Director</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Writer</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>IMDBID</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>TMDBID</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center mt-4">
            <button mat-flat-button color="primary" class="col-3">Save</button>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Book">
      <div class="container">
        <form class="d-flex flex-column justify-content-center mt-4">

          <div class="d-flex justify-content-around col-12">
            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>ISBN</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Title</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Author</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Year</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Publisher</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Image S</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Image M</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Image L</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Genre(s)</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center mt-4">
            <button mat-flat-button color="primary" class="col-3">Save</button>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Game">
      <div class="container">
        <form class="d-flex flex-column justify-content-center mt-4">

          <div class="d-flex justify-content-around col-12">
            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Steam ID</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Description</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Image</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Website</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Developpers</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Publishers</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Price</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Date</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center mt-4">
            <button mat-flat-button color="primary" class="col-3">Save</button>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Application">
      <div class="container">
        <form class="d-flex flex-column justify-content-center mt-4">

          <div class="d-flex justify-content-around col-12">
            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Size</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Installs</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Type</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Price</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Content</mat-label>
                <input matInput>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column">
              <mat-form-field appearance="legacy">
                <mat-label>Last Update</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Version</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Android</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center mt-4">
            <button mat-flat-button color="primary" class="col-3">Save</button>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>



</div>
