<div *ngIf="!noTracks">
  <p class="display-4 text-center p-3" style="font-size: 7vmin;">Listening history</p>
  <hr>
</div>

<div class="container p-0">
  <div class="row">
    <div class="text-center p-0 col-12 d-flex justify-content-center"
      *ngFor="let history of tracksHistory.content; index as indexOfElement;">
      <div id="card" class="d-flex flex-row justify-content-start align-items-center row mb-3 col-6 border rounded p-2">
        <div class="col-lg-3 pl-0 pr-0">
          <img [src]="history.track.covert_art_url" class="d-flex  img-fluid align-self-center">
        </div>
        <div class="d-flex flex-column justify-content-start align-items-start pl-2">
          <h3 class="card-title text-danger"><strong>{{history.track.title}}</strong></h3>
          <p class="card-text"><strong>{{history.track.artist_name}}</strong></p>
          <p class="text-muted">{{history.last_played_date | date: 'MMM d, y, h:mm a'}}</p>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;" infiniteScroll [infiniteScrollDistance]="800" [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
  </div>
  <div *ngIf="!finished" class="container-fluid mx-auto mt-5 mb-5 text-center">
    <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center h-75" *ngIf="noTracks && !apiResponse">
  <div class="spinner-border text-danger" style="width: 6rem; height: 6rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
