<form #forgetForm="ngForm" class="container-fluid d-flex justify-content-center flex-column w-100" (ngSubmit)="sendResetLink(forgetForm.value)">
    <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input ngModel type="email" name="email" matInput placeholder="Enter your email" required>
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <button type="submit" mat-raised-button class="mb-2">Send me a reset link</button>
    <p *ngIf="emailSent" class="text-success text-center text-wrap" style="max-width: 100%;">{{ successMessage }}</p>
    <div *ngIf="!emailSent" class="container">
        <p *ngFor="let message of errorMessage" class="text-danger text-center text-wrap">{{ message }}</p>
    </div>
</form>