<form #forgetForm="ngForm" class="container-fluid d-flex justify-content-center flex-column w-100" (ngSubmit)="sendResetLink(forgetForm.value)">
    <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input ngModel type="email" name="email" matInput placeholder="Enter your email" required>
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <button type="submit" mat-raised-button class="mb-2">Send me a reset link</button>
    <p *ngIf="successMessage.length > 0" class="m-2 text-success text-center text-wrap" style="max-width: 100%;">{{ successMessage }}</p>
</form>