h1,
h2,
h3 ,
.page-header,
p {
    color: white;
}

.page-header {
    max-width: 700px;
}

aside {
    background-color: rgba(255, 255, 255);
    border-radius: 10% 0% 0% 10%;
    padding: 15px 5px 15px 15px;
    position: fixed;
    right: 0px;
    bottom: 3%;
}

.pagination {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    padding-top: 1%;
}