<div class="container-fluid p-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/black-and-white-black-headphones.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h1 class="display-1">Music is life itself</h1>
          <h2 class="display-4">Browse more than 9 000 musics</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/black-and-white-black-headphones.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <figure>
            <blockquote class="blockquote">
              <p>Cinema should make you forget you are sitting in a theater.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              <cite title="Source Title">Roman Polanski</cite>
            </figcaption>
          </figure>
          <h2 class="display-4">Browse more than 50 000 movies</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/easy-listening.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/easy-listening.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/easy-listening.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/easy-listening.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <div *ngIf="!noTracks" class="container">
    <h1>Listening history</h1>
    <div app-slider-history></div>
  </div>


        <div
        app-slider
        title="Most popular musics"
        className="popular_music"
        *ngIf="popularTracks.content.length > 0"
        [content]="popularTracks.content"
        (openPreviewEvent)="openPreview($event)"
        (clickSeeMoreEvent)="openPopUp($event)"></div>



        <div
        app-slider
        title="Most popular movies"
        className="popular_movies"
        *ngIf="popularMovies.content.length > 0"
        [content]="popularMovies.content"
        (openPreviewEvent)="openPreview($event)"
        (clickSeeMoreEvent)="openPopUp($event)"></div>

        <div
        app-slider
        title="Most popular series"
        className="popular_series"
        *ngIf="popularSeries.content.length > 0"
        [content]="popularSeries.content"
        (openPreviewEvent)="openPreview($event)"
        (clickSeeMoreEvent)="openPopUp($event)"></div>

        <div
        app-slider
        title="Most popular games"
        className="popular_games"
        *ngIf="popularGames.content.length > 0"
        [content]="popularGames.content"
        (openPreviewEvent)="openPreview($event)"
        (clickSeeMoreEvent)="openPopUp($event)"></div>

        <div
        app-slider
        title="Most popular books"
        className="popular_books"
        *ngIf="popularBooks.content.length > 0"
        [content]="popularBooks.content"
        (openPreviewEvent)="openPreview($event)"
        (clickSeeMoreEvent)="openPopUp($event)"></div>


        <div
        app-slider
        title="Most popular apps"
        className="popular_apps"
        *ngIf="popularApplications.content.length > 0"
        [content]="popularApplications.content"
        (openPreviewEvent)="openPreview($event)"
        (clickSeeMoreEvent)="openPopUp($event)"></div>

</div>
