<div id="largeMenu" class="row">
  <nav class="navbar navbar-light bg-light container-fluid p-1 fixed-top bg-light shadow-sm">
    <div class="col-sm-3">
      <a routerLink="/app" class="navbar-brand">
        <img src="./assets/images/logo.svg" alt="Logo Recofinement" width="250" />
      </a>
    </div>
    <div class="col-sm-6 text-center h5">
      <button mat-button [routerLink]="['media/add']" [routerLinkActive]="['mat-primary']">Add a media</button>
      <button mat-button [routerLink]="['profile/manage']" [routerLinkActive]="['mat-primary']">Profile Management</button>
    </div>
    <div class="col-sm d-flex justify-content-end">
      <button mat-stroked-button [routerLink]="['home']" [routerLinkActive]="['mat-primary']" color="primary" class="me-2 rounded-pill">Back to app <mat-icon>exit_to_app</mat-icon></button>
      <button mat-stroked-button [matMenuTriggerFor]="menu" color="warn" class="me-2 rounded-pill">{{ username }} <mat-icon>person</mat-icon></button>
      <mat-menu #menu="matMenu" class="mt-4">
        <button mat-menu-item [routerLink]="['user/profile']">Manage profile</button>
        <button mat-menu-item [routerLink]="['user/interest']">My interests</button>
        <button mat-menu-item [routerLink]="['user/history/tracks']">Music history</button>
        <button mat-menu-item (click)="logOut()">Sign out</button>
      </mat-menu>
    </div>
  </nav>
</div>
<div id="smallMenu" class="row">
  <nav class="navbar navbar-light bg-light container-fluid p-3">
    <div class="col">
      <a routerLink="/app" class="navbar-brand">
        <img src="./assets/images/logo.svg" alt="Logo Recofinement" style="width:80%;"/>
      </a>
    </div>
    <div class="col d-flex justify-content-end">
      <button mat-icon-button [matMenuTriggerFor]="smallMenu" class="m-4" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #smallMenu="matMenu">
        <button mat-menu-item [routerLink]="['home']">
          <mat-icon color="primary">home</mat-icon>
          <span>Recofinement</span>
        </button>
        <button mat-menu-item [routerLink]="['application']">
          <mat-icon color="primary">local_library</mat-icon>
          <span>Add a media</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="profile">
          <mat-icon color="primary">account_circle</mat-icon>
          <span>My profile</span>
        </button>
        <mat-menu #profile="matMenu">
          <button mat-menu-item [routerLink]="['user/profile']">
            <mat-icon color="primary">settings</mat-icon>
            <span>Manage my profile</span>
          </button>
          <button mat-menu-item [routerLink]="['user/interest']">
            <mat-icon color="primary">favorite</mat-icon>
            <span>My interests</span>
          </button>
          <button mat-menu-item [routerLink]="['user/history/tracks']">
            <mat-icon color="primary">history</mat-icon>
            <span>Music history</span>
          </button>
        </mat-menu>
        <button mat-menu-item (click)="logOut()">
          <mat-icon color="warn">exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </div>
  </nav>
</div>
