  <mat-tab-group mat-align-tabs="center" class="mt-2 pt-2" mat-stretch-tabs (selectedIndexChange)="checkLinkedAccounts($event)">
    <mat-tab label="Edit my account">
    <p class="display-4 text-center p-3 m-3" style="font-size: 7vmin;">Change my information</p>

      <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
          <form #profileForm="ngForm" (ngSubmit)="editProfile(profileForm)" class="text-center m-5 w-75 mx-auto">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Current: {{ userData.user.username }}</mat-label>
                  <input ngModel type="text" name="username" matInput placeholder="Change my pseudo">
                  <mat-icon matSuffix>account_box</mat-icon>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Current: {{ userData.user.email }}</mat-label>
                  <input ngModel type="text" name="email" matInput placeholder="Change my email address">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Change my password</mat-label>
                  <input ngModel type="password" name="password" matInput placeholder="New Password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Confirm new password</mat-label>
                  <input ngModel type="password" name="confirmPassword" matInput placeholder="Confirm new password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="passwordError.length > 0">
              <div class="alert alert-danger" role="alert">
                {{ passwordError }}
              </div>
            </div>
            <div class="row-cols">
              <div class="col mb-2">
                <button mat-raised-button color="primary" type="submit">Update my information</button>
              </div>
              <div class="col mb-2">
                <button mat-raised-button color="warn" (click)="deleteUser()">
                  Delete my account
                </button>
              </div>
              <div class="col">
                <button mat-raised-button color="accent" (click)="exportData()">
                  Export my data
                </button>
              </div>
            </div>
          </form>
      </div>
    </mat-tab>

    <!-- TAB 2 -->
    <mat-tab label="Manage groups" class="h-100">

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <p class="display-3 text-center p-3 m-3" style="font-size: 5vmin;">My groups</p>
            <p class="text-center text-muted">
              {{ userData.user.owned_groups.length > 0 ? 'The groups you created.' : 'You don\'t own any groups yet.'}}
            </p>
            <mat-chip-list class="p-5">
              <mat-chip (click)="openGroupManagementDialog(group, true)" style="cursor:pointer;" *ngFor="let group of userData.user.owned_groups">{{ group.name }}</mat-chip>
              <mat-chip selected color="warn" style="cursor:pointer;" (click)="openAddGroupDialog()"><mat-icon>add</mat-icon></mat-chip>
            </mat-chip-list>
          </div>
          <div class="col-sm-4 border-left border-right">
            <p class="display-3 text-center p-3 m-3" style="font-size: 5vmin;">My friends' groups</p>
            <p class="text-center text-muted">
              {{ userData.user.groups.length > 0 ? 'The groups you have been invited to.' : 'You don\'t have any friends groups yet.'}}
            </p>

            <mat-chip-list class="p-5">
              <mat-chip (click)="openGroupManagementDialog(group, false)" style="cursor:pointer;" *ngFor="let group of userData.user.groups">{{ group.name }}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="col-sm-4">
            <p class="display-3 text-center p-3 m-3" style="font-size: 5vmin;">Manage my invitations</p>
            <p class="text-center text-muted">
              {{ userData.user.invitations.length > 0 || invitationsSent.length > 0 ? 'The invitations you sent and received.' : 'You don\'t have any invitations yet.'}}
            </p>
            <ul class="list-group" *ngIf="userData.user.invitations.length > 0 || invitationsSent.length > 0">
              <li *ngFor="let invitation of userData.user.invitations" class="list-group-item d-flex justify-content-between align-items-center">
                  You have been invited to join {{ invitation.username }}
                  <span>
                    <button mat-button class="text-success" (click)="acceptInvit(invitation)">Accept</button>
                    <button mat-button class="text-danger" (click)="declineInvit(invitation)">Decline</button>
                  </span>
              </li>
              <ng-container *ngFor="let myGroups of invitationsSent">
                <li *ngFor="let invitation of myGroups.invitations" class="list-group-item d-flex justify-content-between align-items-center">
                  You invited {{ invitation.username }}
                  <span>
                    <button mat-button class="text-danger" (click)="declineInvit(myGroups)">Delete</button>
                  </span>
                </li>
              </ng-container>
            </ul>
            <div class="container-fluid d-flex justify-content-center">
              <button mat-raised-button color="primary" class="m-2" (click)="openAddMemberDialog(userData)">Invite a member</button>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Third-party applications">
      <p class="display-4 text-center m-5" style="font-size: 7vmin;">Link third-party applications</p>
      <div class="container-xl">

        <div class="row mt-5 d-flex justify-content-between align-items-center">
          <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card m-3 p-0 shadow" style="width: 18rem;">
              <div class="container p-0">
                <img src="assets/images/Spotify_Logo_RGB_Green.png" class="card-img-top">
              </div>
              <hr class="m-0">
              <div class="card-body p-3 d-flex justify-content-center flex-column">
                <button *ngIf="!spotifyLinked" class="bg-success text-light" mat-raised-button (click)="linkSpotify()">Link my Spotify account</button>
                <div *ngIf="spotifyLinked" class="text-center text-success font-weight-bold m-2">
                  <mat-icon class="h1">how_to_reg</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card m-3 p-0 shadow" style="width: 18rem;">
              <div class="container p-0">
                <img src="assets/images/TMDB_logo.svg" class="card-img-top p-3">
              </div>
              <hr class="m-0">
              <div class="card-body p-3 d-flex justify-content-center flex-column">
                <button *ngIf="!tmdbLinked" class="bg-info text-light" mat-raised-button (click)="linkTMDB()">Link my TMDB account</button>
                <div *ngIf="tmdbLinked" class="text-center text-info font-weight-bold m-2">
                  <mat-icon class="h1">how_to_reg</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card m-3 p-0 shadow" style="width: 18rem;">
              <div class="container p-0">
                <img src="assets/images/google_books.png" width="25%" class="card-img-top p-3">
              </div>
              <hr class="m-0">
              <div class="card-body p-3 d-flex justify-content-center flex-column">
                <button *ngIf="!gbooksLinked" class="bg-primary text-light" mat-raised-button (click)="linkGoogleBooks()">Link my Google Books account</button>
                <div *ngIf="gbooksLinked" class="text-center text-primary font-weight-bold">
                  <mat-icon class="h1">how_to_reg</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </mat-tab>
  </mat-tab-group>

