<main>

  <div class="py-5 text-center jumbotron">
    <h1 class="mat-h1">My interests</h1>
    <p class="lead">Please select the categories or genres you would like to be referred to.</p>
  </div>

  <div class="container">
    <div class="row">
      <mat-accordion class="col-12">

        <mat-expansion-panel expanded (afterCollapse)="onTrackFormSubmit()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tracks
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form *ngIf="(this.waitTrack | async); else loading" [formGroup]="interestTrack" class="col-12" (ngSubmit)="onTrackFormSubmit()" ngNativeValidate>
            <div class="row">
              <ng-container *ngFor="let genre of this.trackGenres">
                <mat-slide-toggle class="col-3" [formControlName]="genre.name">{{ genre.name }}</mat-slide-toggle>
              </ng-container>
            </div>
            <br />
            <mat-action-row>
              <button mat-button color="primary" type="submit">Save</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel (afterCollapse)="onMovieFormSubmit()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Movies
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form *ngIf="(this.waitMovie | async); else loading" [formGroup]="interestMovie" class="col-12" (ngSubmit)="onMovieFormSubmit()" ngNativeValidate>
            <div class="row">
              <ng-container *ngFor="let genre of this.movieGenres">
                <mat-slide-toggle class="col-3" [formControlName]="genre.name">{{ genre.name }}</mat-slide-toggle>
              </ng-container>
            </div>
            <br />
            <mat-action-row>
              <button mat-button color="primary" type="submit">Save</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel disabled>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Series
            </mat-panel-title>
            <mat-panel-description>
              Not available at the moment
            </mat-panel-description>
          </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel (afterCollapse)="onGameFormSubmit()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Games
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form *ngIf="(this.waitGame | async); else loading" [formGroup]="interestGame" class="col-12" (ngSubmit)="onGameFormSubmit()" ngNativeValidate>
            <div class="row">
              <ng-container *ngFor="let genre of this.gameGenres">
                <mat-slide-toggle class="col-3" [formControlName]="genre.name">{{ genre.name }}</mat-slide-toggle>
              </ng-container>
            </div>
            <br />
            <mat-action-row>
              <button mat-button color="primary" type="submit">Save</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel (afterCollapse)="onAppFormSubmit()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Applications
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form *ngIf="(this.waitApp | async); else loading" [formGroup]="interestApp" class="col-12" (ngSubmit)="onAppFormSubmit()" ngNativeValidate>
            <div class="row">
              <ng-container *ngFor="let genre of this.appGenres">
                <mat-slide-toggle class="col-3" [formControlName]="genre.name">{{ genre.name }}</mat-slide-toggle>
              </ng-container>
            </div>
            <br />
            <mat-action-row>
              <button mat-button color="primary" type="submit">Save</button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>

  <ng-template #loading>
    Loading Data...
  </ng-template>

</main>
